<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <div class="navbar-item has-text-weight-bold">
      {{ site.title }}
    </div>
  </div>
  <div class="navbar-end">
    <a href="/" class="navbar-item">
      Home
    </a>

    <a href="/src/posts" class="navbar-item">
      Writing
    </a>

    <a href="/src/multimedia" class="navbar-item">
      Multimedia
    </a>

    <a href="/src/about" class="navbar-item">
      About Me
    </a>
  </div>
</nav>